<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:auth="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>司法局--文书管理系统</title>
    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/all.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/static/js/layui/css/layui.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/style05.css'">
    <script th:src="${application.basePath}+'/static/js/jquery.min.js'"></script>
    <script th:src="${application.basePath}+'/static/js/jquery.form.js'"></script>
    <script th:src="${application.basePath}+'/static/js/layui/layui.js'"></script>
    <script id="utilScript" th:src="${application.basePath}+'/static/js/util.js'"
            th:bashURL="${application.basePath}"></script>
    <!--[if lt IE 9]>
    <script th:src="${application.basePath}+'/static/js/foeIE8.js'"></script>
    <![endif]-->
    <script th:src="${application.basePath}+'/static/js/main_All.js'"></script>
    <script th:src="${application.basePath}+'/static/js/main_05.js'"></script>
    <script th:src="${application.basePath}+'/static/js/select2.js'"></script>
    <script th:src="${application.basePath}+'/static/js/verification.js'"></script>
    <script th:src="${application.basePath}+'/static/js/jquery.backgroundSize.js'"></script>
</head>
<body>
<div class="H105_iframeright"  auth:check="sfjBqManage">
    <div class="H105_wripper">
        <div class="H105_subtitle clear">
            <div class="H105_local fl">
                <img th:src="${application.basePath}+'/static/images/H105_local.png'" alt=""
                     class="H105_caseImg fl">
                <p>标签管理</p>
            </div>

            <div class="H105_searchCoat fr clear">
                <select id="searchCondition" name="searchCondition" class="H105_select fl">
                    <option value="searchName" th:selected="${bqglQuery.searchCondition=='searchName'}">标签名</option>
                    <option value="searchDesc" th:selected="${bqglQuery.searchCondition=='searchDesc'}">标签说明</option>
                </select>
                <input type="text" id="searchContent" name="searchContent" class="H105_search fl" th:value="${bqglQuery.searchContent}">
                <div class="H105_searchBtn fl " onclick="localRefresh()">搜索</div>
                <div class="H105_search1 fl" onclick="toAdd()" auth:check="sfjBqglAdd">新增</div>
            </div>
        </div>
        <div id="table_refresh" th:fragment="table_refresh">
            <div class="H105_sysList H105_sysList1">
            <table class="layui-table H105_table" lay-data="{id:'tables'}" lay-skin="line" lay-filter="demo">
                <thead>
                <tr>
                    <th lay-data="{field:'1',width:70}">序号</th>
                    <th lay-data="{field:'2'}">标签名</th>
                    <th lay-data="{field:'3'}">标签说明</th>
                    <th lay-data="{field:'4', width:190}">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bean,beanStat : ${list}">
                    <td th:text="${beanStat.count+(list.pageNum-1)*list.pageSize}" >
                        序号
                    </td>
                    <td th:text="${bean.bookmarkname}">标签名</td>
                    <td th:text="${bean.bookmarkdesc}">标签说明</td>
                    <td>
                        <a th:href="${'javascript:toView('''+bean.bookmarkid+''')'}"  auth:check="sfjBqglView">
                            <img class="I108_imgNormal"
                                 th:src="${application.basePath}+'/static/images/H105_checkIco1.png'"
                                 alt="">
                            <span>查看</span>
                        </a>
                        <a th:href="${'javascript:toEdit('''+bean.bookmarkid+''')'}"  auth:check="sfjBqglEdit">
                            <img class="I108_imgNormal"
                                 th:src="${application.basePath}+'/static/images/I108_icon_list_to_edit.png'"
                                 alt="">
                            <span>编辑</span>
                        </a>
                        <a  th:href="${'javascript:toDelete('''+bean.bookmarkid+''')'}" auth:check="sfjBqglDelete">
                            <img class="I108_imgHover"
                                 th:src="${application.basePath}+'/static/images/I108_icon_list_to_del_hover.png'"
                                 alt="">
                            <span>删除</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--分页引用-->
            <div class="H105_pageCoat clear">
                <div class="H105_first clear fl">
                    本页显示:<span th:text="${(list.pageNum-1)*list.pageSize + 1}" />-<span th:text="${list.endRow >list.total ? list.total : list.endRow }" /> 总记录数：<span th:text="${list.total}"></span>
                </div>
                <div th:replace="common/pages::pages"></div>
            </div>
        </div>
        </div>

    </div>
    <script th:inline="javascript">
        function localRefresh() {
            // 装载局部刷新返回的页面
            var searchCondition = $('#searchCondition option:selected').val();
            var searchContent = $(" #searchContent").val();
            var pageNo = $(" #pageNo").val();
            var param = {"searchContent": searchContent, "searchCondition": searchCondition, "pageNo": pageNo};
            $("#table_refresh").load("../Bqgl/tableList", param, function () {
                layui.use('table', function () {
                    layui.table.init('demo', {
                        limit: 12
                    });
                });
            });
        }

        var contextPath = getContextPath();
        var layIndex;
        var table = null;
        layui.use('table', function () {
            layui.table.init('demo', {
                limit: 12
            });

            table = layui.table;
        })

        function toDelete(id) {
            var searchCondition = $('#searchCondition option:selected').val();
            var searchContent = $(" #searchContent").val();
            var pageNo = $(" #pageNo").val();
            layer.confirm('确定删除该记录吗？', {btn: ['确定', '取消']}, function (index) {
                layer.close(index);
                $.ajax({
                    url: contextPath + "/Bqgl/toDelete",
                    type: "post",
                    data:{"id":id,"searchCondition":searchCondition,"searchContent":searchContent,"pageNo":pageNo},
                    dataType: "json",
                    success: function (result) {
                        if (200 == result.code) {
                            layer.alert(result.message, function () {
                                //window.location.reload();
                                layer.close(layer.index);
                                $("#table_refresh").load("../Bqgl/tableList", function () {
                                    layui.use('table', function () {
                                        layui.table.init('demo', {
                                            limit: 12
                                        });
                                    });
                                });
                            });
                        } else {
                            layer.alert(result.message);
                            return;
                        }
                    }
                })
            })
        }


        function layerclose() {
            layer.close(layIndex);
        }

        function toView(id) {
            var searchCondition = $('#searchCondition option:selected').val();
            var searchContent = $(" #searchContent").val();
            var pageNo = $(" #pageNo").val();
            var layContent = '查看';
            var layHref ='/wsgl-sfj/Bqgl/toView?id=' + id+'&searchCondition='+searchCondition+'&searchContent='+searchContent+'&pageNo='+pageNo;
            hyViewClickEvent(layContent,layHref);
        }

        function toAdd(id) {
            var searchCondition = $('#searchCondition option:selected').val();
            var searchContent = $(" #searchContent").val();
            var pageNo = $(" #pageNo").val();
            var layContent = '新增';
            var layHref ='/wsgl-sfj/Bqgl/toAdd?searchCondition='+searchCondition+'&searchContent='+searchContent+'&pageNo='+pageNo;
            hyViewClickEvent(layContent,layHref);
        }

        function toEdit(id) {
            var searchCondition = $('#searchCondition option:selected').val();
            var searchContent = $(" #searchContent").val();
            var pageNo = $(" #pageNo").val();
            var layContent = '编辑';
            var layHref ='/wsgl-sfj/Bqgl/toEdit?id=' + id+'&searchCondition='+searchCondition+'&searchContent='+searchContent+'&pageNo='+pageNo;
            hyViewClickEvent(layContent,layHref);
        }

    </script>
</div>
</body>
</html>