<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:auth="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>检察院--政法部门协同办案（刑事）系统</title>
    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/all.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/style05.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/style_10.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/static/js/layui/css/layui.css'">
    <script th:src="${application.basePath}+'/static/js/jquery.min.js'"></script>
    <script th:src="${application.basePath}+'/static/js/jquery.form.js'"></script>
    <script th:src="${application.basePath}+'/static/js/layui/layui.js'"></script>
    <script id="utilScript" th:src="${application.basePath}+'/static/js/util.js'"
            th:bashURL="${application.basePath}"></script>
    <!--[if lt IE 9]>
    <script th:src="${application.basePath}+'/static/js/foeIE8.js'"></script>
    <![endif]-->
    <script th:src="${application.basePath}+'/static/js/main_All.js'"></script>
    <script th:src="${application.basePath}+'/static/js/main_05.js'"></script>
    <script th:src="${application.basePath}+'/static/js/select2.js'"></script>
    <script th:src="${application.basePath}+'/static/js/verification.js'"></script>
    <script th:src="${application.basePath}+'/static/js/jquery.backgroundSize.js'"></script>
</head>
<body>
    <div class="E105_wripper">
        <div class="E105_case1 layui-form">
            <div class="E105_subtitle clear">
                <div class="E105_biaoti fl" th:switch="${ajlx_bbbs}">
                    <img th:src="${application.basePath}+'/static/images/H105_edit.png'" alt="" class="E105_editIco">
                    <p th:case="101">报捕案件办理:编辑案件</p>
                    <p th:case="113">报诉案件办理:编辑案件</p>
                </div>

                <div class="E105_checkCoat fr">

                    <div class="E105_check fl cursor E105_checkClick"
                         data-name="查看"
                         th:data-url="'../Bbbsajfa/toBbbsfaView?ajbs=' + ${ajjbqk.ajbs} +'&ajlx_bbbs='+${ajlx_bbbs}+'&ajlist='+${ajlist}"
                         data-type="tabAdd" auth:check="BbbsfaView">
                        <img th:src="${application.basePath}+'/static/images/H105_checkIco1.png'" alt="" class="E105_checkIco">
                        <p>查看</p>
                    </div>
                    <div class="E105_check fl cursor" th:if="${ajlist == 'wfaj'}"
                          data-name="编辑"
                         th:data-url="'../Bbbsajfa/toBbbsfaEdit?ajbs=' + ${ajjbqk.ajbs}+'&ajlx_bbbs='+${ajlx_bbbs}+'&ajlist='+${ajlist}"
                         data-type="tabAdd" auth:check="BbbsajfaEdit">
                        <img th:src="${application.basePath}+'/static/images/H105_checkIco2.png'" alt="" class="E105_checkIco2">
                        <p>编辑</p>
                    </div>

                    <div  th:if="${ajlist == 'wfaj'}"
                          class="E105_check fl cursor" data-name="退回案件"
                          th:data-url="'../Bbbsajfa/toAjfaThaj?ajbs=' + ${ajjbqk.ajbs}+'&ajlx_bbbs='+${ajlx_bbbs}+'&ajlist='+${ajlist}"
                          data-type="tabAdd" auth:check="BbbsajfaTh">
                        <img class="E105_checkIco2" th:src="${application.basePath}+'/static/images/H105_checkIco10.png'" alt="">
                        <p>退回案件 </p>
                    </div>

                </div>

            </div>

            <div class="E105_tableCoat">
                <div class="E105_baseInfo">
                    <div class="E105_info  ">
                        <p>案件基本信息</p>
                    </div>
                    <div class="E105_arrowup cursor"></div>
                </div>
                <div class="E105_tableFloor">
                    <table class="E105_table">
                        <tr>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>案件编号:</p>
                                </div>
                                <div class="T110_input fl">
                                    <input type="text" class="layui-input" lay-verify="required" lay-verType="tips"
                                       placeholder="必填项" name="ajbh" th:value="${ajjbqk.ajbh}" readonly  maxlength="50">
                                </div>
                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>案件名称:</p>
                                </div>
                                <div class="T110_input fl">
                                    <input type="text" class="layui-input" lay-verify="required" lay-verType="tips"
                                       placeholder="必填项" name="ajmc" th:value="${ajjbqk.ajmc}"  maxlength="64">
                                </div>
                            </td>

                            <td class="clear T110_itemList">
                                <div class="E105_bianhao fl clear">
                                    <p>案件类型:</p>
                                </div>
                                <div class="T110_input fl">
                                    <select lay-verify="required" lay-verType="tips"  name="ajlx" disabled="disabled"。>
                                        <option value="101" th:selected="${ajjbqk.ajlx=='101'}">报捕</option>
                                        <option value="113" th:selected="${ajjbqk.ajlx=='113'}">报诉</option>
                                    </select>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>移送时间:</p>
                                </div>
                                <div class="T110_input fl">
                                    <input th:value="${#dates.format(ajjbqk.yssj, 'yyyy-MM-dd HH:mm:ss')}" name="yssj"
                                       type="text"
                                       id="yssj"
                                       class="layui-input"
                                       autocomplete="off">
                                </div>
                            </td>

                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>案件类别:</p>
                                </div>
                                <div class="T110_input fl">
                                    <input type="text" class="layui-input openModel" lay-verType="tips" lay-verify="required" placeholder="必填项" id="ajlbmc" th:value="${ajjbqk.ajlb}" data-method="chooseAjlb" >
                                    <input type="text" class="layui-input" name="ajlb" id="ajlb"  maxlength="6" style="display: none">
                                </div>
                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>移送单位:</p>
                                </div>
                                <div class="T110_input fl">
                                    <input type="text" class="layui-input" lay-verify="required" lay-verType="tips"
                                       placeholder="必填项" name="gaysdw" th:value="${ajjbqk.gaysdw}"  maxlength="64">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>是否是申报案件:</p>
                                </div>
                                <div class="layui-input-block">
                                    <input type="radio" name="sfcbaj" value="1" title="是" th:checked="${ajjbqk.sfcbaj=='Y' || ajjbqk.sfcbaj=='1'}">
                                    <input type="radio" name="sfcbaj" value="0" title="否" th:checked="${ajjbqk.sfcbaj=='N' || ajjbqk.sfcbaj=='0'}">
                                </div>
                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>是否认罪轻案案件:</p>
                                </div>
                                <div class="layui-input-block">
                                    <input type="radio" name="sfrzqa" value="1" title="是" th:checked="${ajjbqk.sfrzqa=='Y' || ajjbqk.sfrzqa=='1'}">
                                    <input type="radio" name="sfrzqa" value="0" title="否" th:checked="${ajjbqk.sfrzqa=='N' || ajjbqk.sfrzqa=='0'}">
                                </div>

                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>嫌疑人是否有未成年人:</p>
                                </div>
                                <div class="layui-input-block">
                                    <input type="radio" name="xyrsfwcnr" value="1" title="是" th:checked="${ajjbqk.xyrsfwcnr=='Y' || ajjbqk.xyrsfwcnr=='1'}">
                                    <input type="radio" name="xyrsfwcnr" value="0" title="否" th:checked="${ajjbqk.xyrsfwcnr=='N' || ajjbqk.xyrsfwcnr=='0'}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>被害人是否有未成年人:</p>
                                </div>
                                <div class="layui-input-block">
                                    <input type="radio" name="bhrsfwcnr" value="1" title="是" th:checked="${ajjbqk.bhrsfwcnr=='Y'|| ajjbqk.bhrsfwcnr=='1'}">
                                    <input type="radio" name="bhrsfwcnr" value="0" title="否" th:checked="${ajjbqk.bhrsfwcnr=='N'|| ajjbqk.bhrsfwcnr=='0'}">
                                </div>

                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>嫌疑人是否有台湾人:</p>
                                </div>
                                <div class="layui-input-block">
                                    <input type="radio" name="xyrsftwr" value="1" title="是" th:checked="${ajjbqk.xyrsftwr=='Y' || ajjbqk.xyrsftwr=='1'}">
                                    <input type="radio" name="xyrsftwr" value="0" title="否" th:checked="${ajjbqk.xyrsftwr=='N' || ajjbqk.xyrsftwr=='0'}">
                                </div>

                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>被害人是否有台湾人:</p>
                                </div>
                                <div class="layui-input-block">
                                    <input type="radio" name="bhrsftwr" value="1" title="是" th:checked="${ajjbqk.bhrsftwr=='Y' || ajjbqk.bhrsftwr=='1'}">
                                    <input type="radio" name="bhrsftwr" value="0" title="否" th:checked="${ajjbqk.bhrsftwr=='N' || ajjbqk.bhrsftwr=='0'}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>是否职务犯罪案件:</p>
                                </div>
                                <div class="layui-input-block">
                                    <input type="radio" name="sfzwfzaj" value="1" title="是" th:checked="${ajjbqk.sfzwfzaj=='Y' || ajjbqk.sfzwfzaj=='1'}">
                                    <input type="radio" name="sfzwfzaj" value="0" title="否" th:checked="${ajjbqk.sfzwfzaj=='N' || ajjbqk.sfzwfzaj=='0'}">
                                </div>

                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>是否立案监督案件:</p>
                                </div>
                                <div class="layui-input-block">
                                    <input type="radio" name="sflajdaj" value="1" title="是" th:checked="${ajjbqk.sflajdaj=='Y' || ajjbqk.sflajdaj=='1'}">
                                    <input type="radio" name="sflajdaj" value="0" title="否" th:checked="${ajjbqk.sflajdaj=='N' || ajjbqk.sflajdaj=='0'}">
                                </div>

                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>是否督办案件:</p>
                                </div>
                                <div class="layui-input-block">
                                    <input type="radio" name="sfdbaj" value="1" title="是" th:checked="${ajjbqk.sfdbaj=='Y' || ajjbqk.sfdbaj=='1'}">
                                    <input type="radio" name="sfdbaj" value="0" title="否" th:checked="${ajjbqk.sfdbaj=='N' || ajjbqk.sfdbaj=='0'}">
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>是否关注案件:</p>
                                </div>
                                <div class="layui-input-block">
                                    <input type="radio" name="sfgzaj" value="1" title="是" th:checked="${ajjbqk.sfgzaj=='Y' || ajjbqk.sfgzaj=='1'}">
                                    <input type="radio" name="sfgzaj" value="0" title="否" th:checked="${ajjbqk.sfgzaj=='N' || ajjbqk.sfgzaj=='0'}">
                                </div>

                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>是否专项活动:</p>
                                </div>
                                <div class="layui-input-block">
                                    <input type="radio" name="sfzxhd" value="1" title="是" th:checked="${ajjbqk.sfzxhd=='Y' || ajjbqk.sfzxhd=='1'}">
                                    <input type="radio" name="sfzxhd" value="0" title="否" th:checked="${ajjbqk.sfzxhd=='N' || ajjbqk.sfzxhd=='0'}">
                                </div>

                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>专项活动名称:</p>
                                </div>
                                <div class="T110_input fl">
                                    <input type="text" class="layui-input"
                                           name="zxhdmc" th:value="${ajjbqk.zxhdmc}"  maxlength="75">
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>是否监督行政执法机关移送案件:</p>
                                </div>
                                <div class="layui-input-block">
                                    <input type="radio" name="sfjdxzjgysaj" value="1" title="是" th:checked="${ajjbqk.sfjdxzjgysaj=='Y' || ajjbqk.sfjdxzjgysaj=='1'}">
                                    <input type="radio" name="sfjdxzjgysaj" value="0" title="否" th:checked="${ajjbqk.sfjdxzjgysaj=='N' || ajjbqk.sfjdxzjgysaj=='0'}">
                                </div>
                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>移送案件的行政执法机关类别:</p>
                                </div>

                                    <div class="T110_input fl">
                                        <input type="text" class="layui-input openModel" lay-verify="required" lay-verType="tips"
                                               placeholder="必填项" id="ysajdxzjglbmc" th:value="${ajjbqk.ysajdxzjglb}" data-method="chooseYsajdxzjglb" >
                                        <input type="text" class="layui-input" name="ysajdxzjglb"  maxlength="75" style="display: none">
                                    </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>共同犯罪性质:</p>
                                </div>
                                    <div class="T110_input fl">
                                        <input type="text" class="layui-input openModel" lay-verify="required" lay-verType="tips"
                                               placeholder="必填项" id="gtfzxzmc" th:value="${ajjbqk.gtfzxz}" data-method="chooseGtfzxz" >
                                        <input type="text" class="layui-input" name="gtfzxz" id="gtfzxz"  maxlength="25" style="display: none">
                                    </div>
                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>共同犯罪人数:</p>
                                </div>
                                <div class="T110_input fl">
                                    <input type="text" class="layui-input" lay-verify="operationCount" lay-verType="tips"
                                           placeholder="必填项" name="gtfzrs" th:value="${ajjbqk.gtfzrs}"  maxlength="50">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="clear">
                                <div class="E105_bianhao1 fl clear">
                                    <p>主案由:</p>
                                </div>

                                <div class="T110_input1 fl">
                                    <input type="text" class="layui-input openModel"  lay-verify="required" lay-verType="tips"
                                           placeholder="必填项"  name="tqay" id="tqay" th:value="${ajjbqk.tqay}" data-method="chooseTqay" >
                                    <input type="text" class="layui-input" lay-verType="tips" name="tqaydm" id="tqaydm" th:value="${ajjbqk.tqaydm}" style="display: none">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="clear">
                                <div class="E105_bianhao1 fl clear">
                                    <p>移送其他案由:</p>
                                </div>

                                <div class="T110_input1 fl">
                                    <input type="text" class="layui-input openModel"  lay-verify="required" lay-verType="tips"
                                           placeholder="必填项"  id="ysqtaymc" th:value="${ajjbqk.ysqtay}" data-method="chooseYsqtay" >
                                    <input type="text" class="layui-input" lay-verType="tips" name="ysqtay" id="ysqtay" style="display: none">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3" class="clear">
                                <div class="E105_bianhao1 fl clear">
                                    <p>案情摘要:</p>
                                </div>

                                <div class="T110_input1 fl">
                                    <textarea placeholder="请输入内容" class="layui-textarea" name="aqzy" th:value="${ajjbqk.aqzy}"  maxlength="600"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="clear">
                                <div class="E105_bianhao1 fl clear">
                                    <p>附注:</p>
                                </div>

                                <div class="T110_input1 fl">
                                    <textarea placeholder="请输入内容" class="layui-textarea" name="fuzhu" th:value="${ajjbqk.fuzhu}"  maxlength="250"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>公安文书文号:</p>
                                </div>
                                <div class="T110_input fl">
                                    <input type="text" class="layui-input" lay-verify="operationCount" lay-verType="tips"
                                           placeholder="必填项" name="gtfzrs" th:value="${ajjbqk.gtfzrs}"  maxlength="50">
                                </div>
                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>上报卷宗页数:</p>
                                </div>
                                <div class="T110_input fl">
                                    <input type="text" class="layui-input" lay-verify="operationCount" lay-verType="tips"
                                           placeholder="必填项" name="gtfzrs" th:value="${ajjbqk.gtfzrs}"  maxlength="50">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>侦查机关:</p>
                                </div>
                                <div class="T110_input fl">
                                    <input type="text" class="layui-input" lay-verify="operationCount" lay-verType="tips"
                                           placeholder="必填项" name="gtfzrs" th:value="${ajjbqk.gtfzrs}"  maxlength="50">
                                </div>
                            </td>
                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>接收单位:</p>
                                </div>
                                <div class="T110_input fl">
                                    <input type="text" class="layui-input" lay-verify="operationCount" lay-verType="tips"
                                           placeholder="必填项" name="gtfzrs" th:value="${ajjbqk.gtfzrs}"  maxlength="50">
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td class="clear">
                                <div class="E105_bianhao fl clear">
                                    <p>移送人及电话:</p>
                                </div>
                                <div class="T110_input fl">
                                    <input type="text" class="layui-input" lay-verify="operationCount" lay-verType="tips"
                                           placeholder="必填项" name="gtfzrs" th:value="${ajjbqk.gtfzrs}"  maxlength="50">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <input type="text" id="ajbs" name="ajbs" th:value="${ajjbqk.ajbs}" style="display: none">
                    <input type="text" name="glbh" th:value="${ajjbqk.glbh}" style="display: none">
                    <input type="text" name="ajlx_bbbs" th:value="${ajlx_bbbs}" style="display: none">
                </div>

            </div>

            <div class="S105_btnCoat1 ">
                <div class="T110_saveBtnCoat clear">
                    <button class="layui-btn fl" lay-submit lay-filter="formDemo" style="margin-right: 5em;">保存
                    </button>
                    <button class="layui-btn fl site-demo-active2" data-type="tabDelete" >取消</button>
                </div>
            </div>

            <div th:each="gjXyrqk,gjXyrqkStat : ${gjXyrqkList}">
                <div class="E105_tableCoat">
                    <div class="E105_baseInfo">
                        <div class="E105_info  ">
                            <p>嫌疑人信息</p>
                        </div>
                        <div class="E105_arrowup cursor"></div>
                    </div>
                    <div class="E105_tableFloor">
                        <table class="E105_table">
                            <tr>
                                <td class="clear T110_itemList">
                                    <div class="E105_bianhao fl clear">
                                        <p>嫌疑人姓名:</p>
                                    </div>
                                    <span class="E105_span" th:text="${gjXyrqk.xyrxm}">嫌疑人姓名</span>
                                </td>
                                <td class="clear T110_itemList">
                                    <div class="E105_bianhao fl clear">
                                        <p>嫌疑人性别:</p>
                                    </div>
                                    <span class="E105_span" th:text="${gjXyrqk.xyrxb}">嫌疑人性别</span>
                                </td>
                                <td class="clear T110_itemList">
                                    <div class="E105_bianhao fl clear">
                                        <p>身份证号:</p>
                                    </div>
                                    <span class="E105_span" th:text="${gjXyrqk.sfzhm}">身份证号</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="clear T110_itemList">
                                    <div class="E105_bianhao fl clear">
                                        <p>从事职业:</p>
                                    </div>
                                    <span class="E105_span" th:text="${gjXyrqk.xyrzy}">从事职业</span>
                                </td>
                                <td class="clear T110_itemList" th:switch="${gjXyrqk.qzcsdm}">
                                    <div class="E105_bianhao fl clear">
                                        <p>强制措施种类:</p>
                                    </div>

                                    <span class="E105_span" th:case='1'>拘传</span>
                                    <span class="E105_span" th:case='2'>保证人取保候审</span>
                                    <span class="E105_span" th:case='3'>保证金取保候审</span>
                                    <span class="E105_span" th:case='4'>监视居住</span>
                                    <span class="E105_span" th:case='5'>拘留</span>
                                    <span class="E105_span" th:case='6'>逮捕</span>

                                </td>
                                <td class="clear T110_itemList">
                                    <div class="E105_bianhao fl clear">
                                        <p>嫌疑人编号:</p>
                                    </div>
                                    <span class="E105_span" th:text="${gjXyrqk.xyrbh}">嫌疑人编号</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="clear T110_itemList">
                                    <div class="E105_bianhao fl clear">
                                        <p>嫌疑人年龄:</p>
                                    </div>
                                    <span class="E105_span" th:text="${gjXyrqk.nl}">嫌疑人年龄</span>
                                </td>
                                <td class="clear T110_itemList">
                                    <div class="E105_bianhao fl clear">
                                        <p>当前住址:</p>
                                    </div>
                                    <span class="E105_span" th:text="${gjXyrqk.dqzz}">当前住址</span>
                                </td>
                                <td class="clear T110_itemList">
                                    <div class="E105_bianhao fl clear">
                                        <p>政治面貌:</p>
                                    </div>
                                    <span class="E105_span" th:text="${gjXyrqk.zzmm}">政治面貌</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="clear T110_itemList">
                                    <div class="E105_bianhao fl clear">
                                        <p>文化程度:</p>
                                    </div>
                                    <span class="E105_span" th:text="${gjXyrqk.whdm}">文化程度</span>
                                </td>
                                <td class="clear T110_itemList">
                                    <div class="E105_bianhao fl clear">
                                        <p>户籍地:</p>
                                    </div>
                                    <span class="E105_span" th:text="${gjXyrqk.xyrhjd}">户籍地</span>
                                </td>
                                <td class="clear T110_itemList">
                                    <div class="E105_bianhao fl clear">
                                        <p>提请案由:</p>
                                    </div>
                                    <span class="E105_span" th:text="${gjXyrqk.xyrtqay}">提请案由</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="S105_btnCoat1 ">
                    <div class="T110_saveBtnCoat clear">
                        <button class="layui-btn fl site-demo-active1" data-name="编辑"
                                th:data-url="'../Bbbsajfa/toBbbsfaXyrEdit?xyrbs=' + ${gjXyrqk.xyrbs} +'&ajlx_bbbs='+${ajlx_bbbs}"
                                data-type="tabAdd" style="margin-right: 5em;">编辑
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script th:inline="javascript">
    var contextPath = getContextPath();

    layui.use(['form','layer','laydate'], function(){
        var $ = layui.jquery, layer = layui.layer, form = layui.form,laydate = layui.laydate;; //独立版的layer无需执行这一句

        // 点我触发
        laydate.render({
            elem: '#yssj',
            trigger: 'click',
            format: 'yyyy-MM-dd',
            value:new Date(),
            min:0
        });

        // 正整数验证
        form.verify({
            operationCount: [
                /^[+]{0,1}(\d+)$/,
                '必须为0或正整数！'
            ]
        });

        form.on('submit(formDemo)', function (saveform) {   //saveform是form表单中所选中所有数据 saveform.field 为表单中的值
            $.ajax({
                url: contextPath + "/Bbbsajfa/bbbsfjScaj",
                type: "post",
                data: saveform.field,
                dataType: "json",
                success: function (result) {
                    if(result.code == 200){
                        layer.alert(result.message,function () {
                            layer.close(layer.index);

                            //调用案件列表页面的刷新
                            window.parent.$("#id_H105_conIframe").contents().find("#frm")[0].contentWindow.localRefresh();

                            //关闭当前页面
                          /*  window.parent.parent.$('.layui_H105_title .layui-this').attr('lay-id');
                            $(this).data('url',window.parent.parent.$('.layui_H105_title .layui-this').attr('lay-id'));
                            $(this).data('type',"tabDelete");
                            window.parent.parent.active1($(this));*/

                        });
                    }else{
                        layer.alert(result.message);
                        return;
                    }
                }

            })
        });

    });
    var ajlbLayIndex,ysajdxzjglbLayIndex,gtfzxzLayIndex,tqayLayIndex,ysqtayLayIndex;
    //触发事件
    var active = {
        chooseAjlb: function () {
            ajlbLayIndex = layer.open({
                type: 2
                , title: '选择'
                , area: ['580px', '525px'] //宽高
                , offset: 'auto'
                , skin: 'P110_chooseBox'
                , content: [contextPath + '/ToOpenModel/toAjlbModel']
                , shade: 0.3 //不显示遮罩
            });
        },
        chooseYsajdxzjglb: function () {
            ysajdxzjglbLayIndex = layer.open({
                type: 2
                , title: '选择'
                , area: ['580px', '525px'] //宽高
                , offset: 'auto'
                , skin: 'P110_chooseBox'
                , content: [contextPath + '/ToOpenModel/toYsajdxzjglbModel']
                , shade: 0.3 //不显示遮罩
            });
        },
        chooseGtfzxz: function () {
            gtfzxzLayIndex = layer.open({
                type: 2
                , title: '选择'
                , area: ['580px', '525px'] //宽高
                , offset: 'auto'
                , skin: 'P110_chooseBox'
                , content: [contextPath + '/ToOpenModel/toGtfzxzModel']
                , shade: 0.3 //不显示遮罩
            });
        },
        chooseTqay: function () {
            tqayLayIndex = layer.open({
                type: 2
                , title: '选择'
                , area: ['580px', '525px'] //宽高
                , offset: 'auto'
                , skin: 'P110_chooseBox'
                , content: [contextPath + '/ToOpenModel/toTqayModel']
                , shade: 0.3 //不显示遮罩
            });
        },
        chooseYsqtay: function () {
            ysqtayLayIndex = layer.open({
                type: 2
                , title: '选择'
                , area: ['580px', '525px'] //宽高
                , offset: 'auto'
                , skin: 'P110_chooseBox'
                , content: [contextPath + '/ToOpenModel/toYsqtayModel']
                , shade: 0.3 //不显示遮罩
            });
        }
    };

    $('.openModel').on('click', function() {
        var othis = $(this), method = othis.data('method');
        active[method] ? active[method].call(this, othis) : '';
    });


    function ajlbLayerclose() {
        layer.close(ajlbLayIndex);
    }

    function ysajdxzjglbLayerclose() {
        layer.close(ysajdxzjglbLayIndex);
    }

    function gtfzxzLayerclose() {
        layer.close(gtfzxzLayIndex);
    }

    function tqayLayerclose() {
        layer.close(tqayLayIndex);
    }

    function ysqtayLayerclose() {
        layer.close(ysqtayLayIndex);
    }

</script>

</html>
