<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:auth="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>检察院--政法部门协同办案（刑事）系统</title>
    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/all.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/style05.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/style_10.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/static/js/layui/css/layui.css'">
    <script th:src="${application.basePath}+'/static/js/jquery.min.js'"></script>
    <script th:src="${application.basePath}+'/static/js/jquery.form.js'"></script>
    <script th:src="${application.basePath}+'/static/js/layui/layui.js'"></script>
    <script id="utilScript" th:src="${application.basePath}+'/static/js/util.js'"
            th:bashURL="${application.basePath}"></script>
    <!--[if lt IE 9]>
    <script th:src="${application.basePath}+'/static/js/foeIE8.js'"></script>
    <![endif]-->
    <script th:src="${application.basePath}+'/static/js/main_All.js'"></script>
    <script th:src="${application.basePath}+'/static/js/main_05.js'"></script>
    <script th:src="${application.basePath}+'/static/js/select2.js'"></script>
    <script th:src="${application.basePath}+'/static/js/verification.js'"></script>
    <script th:src="${application.basePath}+'/static/js/jquery.backgroundSize.js'"></script>
</head>
<body>
<div class="E105_wripper">
    <div class="E105_case1 layui-form">
        <div class="E105_subtitle clear">
            <div class="E105_biaoti fl">
                <img th:src="${application.basePath}+'/static/images/H105_edit.png'" alt="" class="E105_editIco">
                <p>目录类型查看</p>
            </div>
        </div>

        <div class="E105_tableCoat3">
            <div class="E105_baseInfo">
                <div class="E105_info  ">
                    <p>目录类型信息</p>
                </div>
                <div class="E105_arrowup cursor"></div>
            </div>
            <div class="E105_tableFloor3">
                <table class="E105_table">
                    <tr>
                        <td class="clear T110_itemList">
                            <div class="E105_bianhao fl clear">
                                <p>目录类型名称:</p>
                            </div>
                            <span class="E105_span" th:text="${bean.typename}">目录类型名称</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="clear T110_itemList">
                            <div class="E105_bianhao fl clear">
                                <p>用途:</p>
                            </div>
                            <div th:switch="${bean.kind}">
                                <span class="E105_span"  th:case=0>目录类型名称</span>
                                <span class="E105_span"  th:case=1>目录类型名称</span>
                                <span class="E105_span"  th:case="*"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="clear T110_itemList">
                            <div class="E105_bianhao fl clear">
                                <p>目录等级:</p>
                            </div>
                            <div th:switch="${bean.leveltype}">
                                <span class="E105_span"  th:case=1>一级目录</span>
                                <span class="E105_span"  th:case=2>二级目录</span>
                                <span class="E105_span"  th:case="*"></span>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${bean.leveltype==2}">
                        <td class="clear T110_itemList">
                            <div class="E105_bianhao fl clear">
                                <p>上级目录:</p>
                            </div>
                            <span class="E105_span" th:text="${bean.parenttypename}">上级目录</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="S105_btnCoat1 ">
            <div class="T110_saveBtnCoat clear">
                <button class="layui-btn fl site-demo-active2" data-type="tabDelete">取消</button>
            </div>
        </div>

    </div>
</div>
</body>

</html>
