<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netmarch.ajgl.system.mapper.Dict_gaMapper">
  <resultMap id="BaseResultMap" type="com.netmarch.ajgl.system.bean.Dict_ga">
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="MC" jdbcType="VARCHAR" property="mc" />
    <result column="DICT_SM_ID" jdbcType="INTEGER" property="dictSmId" />
  </resultMap>
  <sql id="Base_Column_List">
    CODE, MC, DICT_SM_ID
  </sql>
  <insert id="insert" parameterType="com.netmarch.ajgl.system.bean.Dict_ga">
    insert into dict_ga (CODE, MC, DICT_SM_ID
      )
    values (#{code,jdbcType=VARCHAR}, #{mc,jdbcType=VARCHAR}, #{dictSmId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.netmarch.ajgl.system.bean.Dict_ga">
    insert into dict_ga
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        CODE,
      </if>
      <if test="mc != null">
        MC,
      </if>
      <if test="dictSmId != null">
        DICT_SM_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="mc != null">
        #{mc,jdbcType=VARCHAR},
      </if>
      <if test="dictSmId != null">
        #{dictSmId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="getInfoFromDicGa" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dict_ga where
    dict_sm_id=(select id from dict_ga_sm where mc= #{mc,jdbcType=VARCHAR})
  </select>

  <select id="getMcByCode" parameterType="java.lang.String" resultType="java.lang.String">
    select mc
    from dict_ga where
    code = #{code,jdbcType=VARCHAR} and
    dict_sm_id=(select id from dict_ga_sm where mc=  #{mc,jdbcType=VARCHAR})
  </select>

</mapper>