<div th:fragment="navigationBar" xmlns:th="http://schemas.xmlsoap.org/wsdl/" xmlns:auth="http://www.thymeleaf.org">

    <ul class="I106_navList clear">

        <li>
            <div class="I106_navItem  I106_navItemCurrent ">
                <span class="I106_navIcon I106_navIcon1"></span>
                <span>文书管理</span>
                <span class="I106_arrow I106_arrowCurrent"></span>
            </div>

            <ul class="I106_subNavList" style="display: block;" auth:check="wsManage">
                <li lay-href="/wsgl-fy/Ajjbqk/ajjbqklist" data-content="文书管理" auth:check="fyWsManage">
                    <span class="I106_subNavItem">文书管理</span>
                </li>
                <li lay-href="/wsgl-fy/Wsgssz/wsgsszlist" data-content="文书格式设置" auth:check="fyWsGssz">
                    <span class="I106_subNavItem">文书格式设置</span>
                </li>
                <li lay-href="/wsgl-fy/Bqgl/bqgllist" data-content="标签管理" auth:check="fyBqManage">
                    <span class="I106_subNavItem">标签管理</span>
                </li>
            </ul>
        </li>

        <li>
            <div class="I106_navItem  I106_navItemCurrent" auth:check="sysManage">
                <span class="I106_navIcon I106_navIcon4"></span>
                <span>系统管理</span>
                <span class="I106_arrow I106_arrowCurrent"></span>
            </div>
            <ul class="I106_subNavList">
                <li lay-href="/wsgl-fy/departments/departmentsList" data-content="科室管理" auth:check="departmentsManage">
                    <span class="I106_subNavItem">科室管理</span>
                </li>
                <li lay-href="/wsgl-fy/user/list" data-content="用户管理" auth:check="userManage">
                    <span class="I106_subNavItem">用户管理</span>
                </li>
                <li lay-href="/wsgl-fy/resource/list" data-content="资源管理" auth:check="resourceManage">
                    <span class="I106_subNavItem">资源管理</span>
                </li>
                <li lay-href="/wsgl-fy/role/list" data-content="角色管理" auth:check="roleManage">
                    <span class="I106_subNavItem">角色管理</span>
                </li>
            </ul>
        </li>

    </ul>

</div>