<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:auth="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>检察院--网上换押管理系统</title>
    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/all.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/static/js/layui/css/layui.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/style05.css'">
    <script th:src="${application.basePath}+'/static/js/jquery.min.js'"></script>
    <script th:src="${application.basePath}+'/static/js/jquery.form.js'"></script>
    <script th:src="${application.basePath}+'/static/js/layui/layui.js'"></script>
    <script id="utilScript" th:src="${application.basePath}+'/static/js/util.js'" th:bashURL="${application.basePath}"></script>
    <!--[if lt IE 9]>
    <script th:src="${application.basePath}+'/static/js/foeIE8.js'"></script>
    <![endif]-->
    <script th:src="${application.basePath}+'/static/js/main_All.js'"></script>
    <script th:src="${application.basePath}+'/static/js/main_05.js'"></script>
    <script th:src="${application.basePath}+'/static/js/select2.js'"></script>
    <script th:src="${application.basePath}+'/static/js/verification.js'"></script>
    <script th:src="${application.basePath}+'/static/js/jquery.backgroundSize.js'"></script>
</head>
<body>
<div class="H105_iframeright">
    <div class="H105_wripper">
        <div class="H105_subtitle clear">
            <div class="H105_local fl">
                <img th:src="${application.basePath}+'/static/images/H105_local.png'" alt=""
                     class="H105_caseImg fl">
                <p>系统管理：科室管理</p>
            </div>

            <div class="H105_searchCoat fr clear">
                <select id="searchCondition" name="searchCondition" class="H105_select fl">
                    <option value="searchName">科室名称</option>
                    <option value="searchAreaCode">所属区域</option>
                </select>
                <input type="text" id="searchContent" name="searchContent" class="H105_search fl">
                <!--th:value="${ajjbqkQuery.searchContent}"-->
                <div class="H105_searchBtn fl " onclick="localRefresh()">搜索</div>
                <div class="H105_search1 fl" onclick="toAdd()" auth:check="departmentAdd">新增</div>
                <div class="H105_search1 fl" onclick="toEdit()" auth:check="departmentEdit">编辑</div>
                <div class="H105_search1 fl" onclick="delBatch()" auth:check="departmentDel">删除</div>
            </div>
        </div>
        <div id="table_refresh" th:fragment="table_refresh">
            <div class="H105_sysList H105_sysList1">
                <table class="layui-table H105_table" lay-data="{id:'tables'}" lay-skin="line" lay-filter="demo">
                    <thead>
                    <tr>
                        <th lay-data="{type:'checkbox', width:50}"></th>
                        <th lay-data="{field: 'id',style:'display:none;',minWidth:'0%',width:'0%',type:'space'}"></th>
                        <th lay-data="{field:'1'}">序号</th>
                        <th lay-data="{field:'2'}">所属科室名称</th>
                        <th lay-data="{field:'3'}">部门</th>
                        <th lay-data="{field:'4'}">地区代码</th>
                        <th lay-data="{field:'5'}">添加人</th>
                        <th lay-data="{field:'6'}">添加时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bean,beanStat : ${list}">
                        <td><input type="checkbox" name="checkbox" th:value="${bean.id}"
                                   class="box" lay-skin="primary"/></td>
                        <td th:text="${bean.id}" style="display:none;"></td>
                        <td th:text="${beanStat.count+(list.pageNum-1)*list.pageSize}">序号</td>
                        <td th:text="${bean.name}">所属科室名称</td>
                        <td th:text="${bean.bm}">部门</td>
                        <td th:text="${bean.areaCode}">地区代码</td>
                        <td th:text="${bean.edituser}">添加人</td>
                        <td th:text="${#dates.format(bean.edittime, 'yyyy-MM-dd HH:mm:ss')}">添加时间</td>

                    </tr>
                    </tbody>
                </table>
                <!--分页引用-->
            <div class="H105_pageCoat clear">
                <div class="H105_first clear fl">
                    本页显示:<span th:text="${(list.pageNum-1)*list.pageSize + 1}" />-<span th:text="${list.endRow >list.total ? list.total : list.endRow }" /> 总记录数：<span th:text="${list.total}"></span>
                   <!-- <img th:src="${application.basePath}+'/static/images/H105_refresh.png'" alt="" class="H105_refreshImg fl'">
                    <img th:src="${application.basePath}+'/static/images/H105_refresh2.png'" alt="" class="H105_refreshImg fl'">
                    <img th:src="${application.basePath}+'/static/images/H105_refresh3.png'" alt="" class="H105_refreshImg fl'"  onclick="exportDepartments()">-->
                </div>
                <div th:replace="common/pages::pages"></div>
            </div>
        </div>
        </div>

    </div>
    <script th:inline="javascript">
        function localRefresh() {
            // 装载局部刷新返回的页面
            var searchCondition = $('#searchCondition option:selected').val();
            var searchContent = $(" #searchContent").val();
            var pageNo = $(" #pageNo").val();
            var param = {"searchContent": searchContent, "searchCondition": searchCondition, "pageNo": pageNo};
            // $('#table_refresh').load("../departments/tableList", param);
            $("#table_refresh").load("../departments/tableList", param, function () {
                layui.use('table', function () {
                    layui.table.init('demo', {
                        limit: 12
                    });
                });
            });
        }

        var contextPath = getContextPath();
        var layIndex;
        var table = null;
        layui.use('table', function () {
            layui.table.init('demo', {
                limit: 12
            });

            table = layui.table;
            //监听表格复选框选择
            table.on('checkbox(demo)', function (obj) {
                console.log(obj)
            });
        })


        var area_code = GetQueryString("area_code");
        var area = GetQueryString("area");

        //获取选中行FexId属性值公共方法
        //value 为传入的  {field: 'id',style:'display:none;'} field值
        //返回结果 是这一列被选中的 用,隔开的字符串
        function getRowFexId(value) {
            var checkStatus = table.checkStatus('tables')
                , data = checkStatus.data, arr = new Array();
            ;
            for (var i = 0; i < data.length; i++) {
                arr.push(data[i][value]);
            }
            return arr.join(",");
            checkStatus
        }

        function getRowCount() {
            var checkStatus = table.checkStatus('tables')
                , data = checkStatus.data, arr = new Array();
            ;
            return data.length;
        }

        function toAdd() {
            var searchCondition = $('#searchCondition option:selected').val();
            var searchContent = $("#searchContent").val();
            var pageNo = $("#pageNo").val();
            layIndex = layui.layer.open({
                title: '<img src="' + [[${application.basePath}]] + '/static/images/I208_edit.png"><span>添加科室信息</span>',
                type: 2,
                shadeClose: false,
                shade: 0.6,
                skin: 'A106_layer',
                area: ['860px', '480px'], //宽高
                content: [contextPath + '/departments/toAdd?searchCondition='+searchCondition+'&searchContent='+searchContent+'&pageNo='+pageNo, 'yes'],//不允许出现滚动条
            })
        }
        function toEdit() {
            var searchCondition = $('#searchCondition option:selected').val();
            var searchContent = $("#searchContent").val();
            var pageNo = $("#pageNo").val();
            var count = getRowCount("id");
            if (count < 1) {
                layer.alert("请至少选择一条数据！");
                return;
            }
            if (count > 1) {
                layer.alert("请选择一条数据进行编辑！");
                return;
            }
            var id = getRowFexId("id");
            layIndex = layui.layer.open({
                title: '<img src="' + [[${application.basePath}]] + '/static/images/I208_edit.png"><span>修改科室信息</span>',
                type: 2,
                shadeClose: false,
                shade: 0.6,
                skin: 'A106_layer',
                area: ['860px', '480px'], //宽高
                content: [contextPath + '/departments/toEdit?id=' + id+'&searchCondition='+searchCondition+'&searchContent='+searchContent+'&pageNo='+pageNo, 'yes'],//不允许出现滚动条
            })
        }

        function delBatch() {
            var ids = getRowFexId("id");
            if (ids == '') {
                layer.alert("请至少选择一条数据！");
                return;
            }
            layer.confirm('确定删除吗？', {btn: ['确定', '取消']}, function (index) {
                layer.close(index);
                $.ajax({
                    url: contextPath + "/departments/delBatch",
                    type: "post",
                    data: {"ids": ids},
                    dataType: "json",
                    success: function (result) {
                        if (200 == result.code) {
                            layer.alert(result.message, function () {
                                //window.location.reload();
                                layer.close(layer.index);
                                $("#table_refresh").load("../departments/tableList", function () {
                                    layui.use('table', function () {
                                        layui.table.init('demo', {
                                            limit: 12
                                        });
                                    });
                                });
                            });
                        } else {
                            layer.alert(result.message);
                            return;
                        }
                    }
                })
            })

        }

        function layerclose() {
            layer.close(layIndex);
        }

        /* java 后台导出表格方式*/
        function exportDepartments() {
            var searchCondition = $('#searchCondition option:selected').val();
            var searchContent = $(" #searchContent").val();
            window.parent.location.href="/wshygl-jcy/departments/exportDepartments?searchContent="+searchContent +"&searchCondition="+searchCondition;
        }

    </script>
</div>
</body>
</html>