<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:auth="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>检察院--政法部门协同办案（刑事）系统</title>
    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/all.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/style05.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/style_10.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/static/js/layui/css/layui.css'">
    <script th:src="${application.basePath}+'/static/js/jquery.min.js'"></script>
    <script th:src="${application.basePath}+'/static/js/jquery.form.js'"></script>
    <script th:src="${application.basePath}+'/static/js/layui/layui.js'"></script>
    <script id="utilScript" th:src="${application.basePath}+'/static/js/util.js'"
            th:bashURL="${application.basePath}"></script>
    <!--[if lt IE 9]>
    <script th:src="${application.basePath}+'/static/js/foeIE8.js'"></script>
    <![endif]-->
    <script th:src="${application.basePath}+'/static/js/main_All.js'"></script>
    <script th:src="${application.basePath}+'/static/js/main_05.js'"></script>
    <script th:src="${application.basePath}+'/static/js/select2.js'"></script>
    <script th:src="${application.basePath}+'/static/js/verification.js'"></script>
    <script th:src="${application.basePath}+'/static/js/jquery.backgroundSize.js'"></script>
</head>
<body>
<div class="E105_wripper">
    <div class="E105_case1 layui-form">
        <div class="E105_subtitle clear">
            <div class="E105_biaoti fl">
                <img th:src="${application.basePath}+'/static/images/H105_edit.png'" alt="" class="E105_editIco">
                <p>小组管理新增</p>
            </div>
        </div>

        <div class="E105_tableCoat3">
            <div class="E105_baseInfo">
                <div class="E105_info  ">
                    <p>小组信息</p>
                </div>
                <div class="E105_arrowup cursor"></div>
            </div>
            <div class="E105_tableFloor3">
                <table class="E105_table">
                    <tr>
                        <td class="clear T110_itemList">
                            <div class="E105_bianhao fl clear">
                                <p>所属区县:</p>
                            </div>
                            <div class="T110_input2 fl">
                                <select lay-verify="required" lay-verType="tips" name="areaCode">
                                    <option th:each="area : ${arealist}" th:text="${area.jcyAreaName}"
                                            th:value="${area.areaCode}">
                                        所属区县
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="clear T110_itemList">
                            <div class="E105_bianhao fl clear">
                                <p>小组名称:</p>
                            </div>

                            <div class="T110_input2 fl">
                                <input type="text" class="layui-input" lay-verify="required" lay-verType="tips"
                                       placeholder="必填项" name="groupname"  maxlength="25">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="S105_btnCoat1 ">
            <div class="T110_saveBtnCoat clear">
                <button class="layui-btn fl" lay-submit lay-filter="formDemo" style="margin-right: 5em;">保存
                </button>
                <button class="layui-btn fl site-demo-active2" data-type="tabDelete">取消</button>
            </div>
        </div>

    </div>
</div>
</body>
<script th:inline="javascript">

    var contextPath = getContextPath();

    layui.use(['form','layer'], function(){
        var $ = layui.jquery, layer = layui.layer, form = layui.form; //独立版的layer无需执行这一句

        form.on('submit(formDemo)', function (saveform) {   //saveform是form表单中所选中所有数据 saveform.field 为表单中的值
            $.ajax({
                url: contextPath + "/jcyGroup/add",
                type: "post",
                data: saveform.field,
                dataType: "json",
                success: function (result) {
                    if(result.code == 200){
                        layer.alert(result.message,function () {
                            layer.close(layer.index);
                            //刷新列表页面的table

                            //调用列表页面的刷新
                            window.parent.$("#id_H105_conIframe").contents().find("#frm")[0].contentWindow.localRefresh();

                            //关闭当前页面
                            window.parent.parent.$('.layui_H105_title .layui-this').attr('lay-id');
                            $(this).data('url',window.parent.parent.$('.layui_H105_title .layui-this').attr('lay-id'));
                            $(this).data('type',"tabDelete");
                            window.parent.parent.active1($(this));

                        });
                    }else{
                        layer.alert(result.message);
                        return;
                    }
                }

            })
        });

    });

    function lyerclose() {
        layer.close(index);
    }

</script>

</html>
