<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人像平台管理系统</title>
    <link rel="stylesheet" th:href="${application.basePath}+'/css/all.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/js/ztree/zTreeStyle/zTreeStyle.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/js/layui/css/layui.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/css/style.css'">
    <script th:src="${application.basePath}+'/js/jquery.min.js'"></script>
    <script th:src="${application.basePath}+'/js/layui/layui.js'"></script>
    <script th:src="${application.basePath}+'/js/ztree/js/jquery.ztree.all.js'"></script>
    <script th:src="${application.basePath}+'/js/main.js'"></script>
    <script th:src="${application.basePath}+'/js/verification.js'"></script>
    <script id="utilScript" th:src="${application.basePath}+'/js/util.js'" th:bashURL="${application.basePath}"></script>
    <script th:src="${application.basePath}+'/web/individualism/case/all.js'"></script>
    <script th:src="${application.basePath}+'/web/individualism/case/list.js'"></script>
</head>
<body>
<form  class="layui-form" id="editCaseForm">
    <div>
        <!--新增表单-->
        <div class="T106_detailsContent" style="margin-top: 20px;">

            <div class="T106_tableOuter">
                <table class="T106_table T206_table">

                    <tr>
                        <td class="T106_itemName T106_must">标题</td>
                        <td class="T106_itemValue">
                            <input name="id" th:value="${case.id}" type="hidden">
                            <input class="layui-input" id="title" name="title" placeholder="请输入" th:value="${case.title}" type="text" value="" maxlength="20">
                        </td>

                    </tr>
                    <tr>
                        <td class="T106_itemName T106_must">级别</td>
                        <td class="T106_itemValue">
                            <input type="hidden" name="grade" id="grade" th:value="${case.grade}">
                            <div id="gradeDiv"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="T106_itemName T106_must">案例文件</td>
                        <td class="T106_itemValue">
                            <input type="text" id="fileName"
                                   autocomplete="off" class="layui-input" readonly="readonly" value="附件 ">
                            <input type="file" name="caseFile" id="caseFile"
                                   style="display: none" onchange="fileChange(this)">

                        </td>
                        <td class="T106_itemValue">
                            <button style="margin-left: 30px;" type="button" class="layui-btn layui-btn-normal" th:onclick="download([[${case.filesUrl}]])">下载</button>
                            <button type="button" class="layui-btn layui-btn-normal" onclick="chooseFile()">选择文件</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="T106_itemName">描述</td>
                        <td class="T106_itemValue">
                            <input class="layui-input" id="remarks" name="remarks" placeholder="请输入"  th:value="${case.remarks}" type="text" value="" maxlength="50">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="A106_buttonOuter">
                <div class="A106_button A106_button1" onclick="editCaseSubmit()">确定</div>
                <div class="A106_button A106_button2" onclick="abandon()">取消</div>
            </div>
        </div>
    </div>
</form>
</body>

</html>

