<!--&lt;!&ndash;-->
<!-- * Author: wsp-->
<!-- * CreatDate: 2019-02-18-->
<!-- *-->
<!-- &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>公安局&#45;&#45;案件管理系统</title>-->
<!--    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/all.css'">-->
<!--    <link rel="stylesheet" th:href="${application.basePath}+'/static/js/ztree/zTreeStyle/zTreeStyle.css'">-->
<!--    <link rel="stylesheet" th:href="${application.basePath}+'/static/js/layui/css/layui.css'">-->
<!--    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/style.css'">-->
<!--    <link rel="stylesheet" th:href="${application.basePath}+'/static/css/select2.css'">-->
<!--    <link rel="stylesheet" th:href="${application.basePath}+'/static/web/system/access/access.css'">-->
<!--    <link rel="stylesheet" th:href="${application.basePath}+ '/static/css/style05.css'">-->

<!--    <script th:src="${application.basePath}+'/static/js/jquery.min.js'"></script>-->
<!--    <script th:src="${application.basePath}+'/static/js/layui/layui.js'"></script>-->
<!--    <script th:src="${application.basePath}+'/static/js/ztree/js/jquery.ztree.all.js'"></script>-->
<!--    <script th:src="${application.basePath}+'/static/js/main.js'"></script>-->
<!--    <script th:src="${application.basePath}+'/static/js/select2.js'"></script>-->
<!--    <script th:src="${application.basePath}+'/static/js/verification.js'"></script>-->
<!--    <script id="utilScript" th:src="${application.basePath}+'/static/js/util.js'" th:bashURL="${application.basePath}"></script>-->
<!--</head>-->
<!--<body>-->
<!--<form id="form" method="post" >-->
<!--    <div>-->
<!--        &lt;!&ndash;新增表单&ndash;&gt;-->
<!--        <div class="T106_detailsContent">-->
<!--            <div class="H105_search2 fl">-->
<!--                选择案件信息文件:-->
<!--                <input type="file" class="file" name="file" id="fileUpload">-->
<!--                <br/>-->
<!--            </div>-->

<!--        </div>-->
<!--&lt;!&ndash;        <div class="A105_buttonOuter">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="A105_button A105_button1" onclick="saveImport();">确认导入</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="A105_button A105_button2" onclick="">取消</div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--<script>-->
<!--    var contextPath = getContextPath();-->
<!--    $(function () {-->
<!--        //   var files = '';-->
<!--        $("#fileUpload").on("change", function () {-->
<!--            // file = this.files;-->
<!--            var file = $("#fileUpload").val();-->
<!--            if (file == "") {-->
<!--                alert("请选择要上传的文件");-->
<!--                return false;-->
<!--            } else {-->
<!--                //检验文件类型是否正确-->
<!--                //获得上传文件名-->
<!--                var fileArr=file.split("\\");-->
<!--                var fileTArr=fileArr[fileArr.length-1].toLowerCase().split(".");-->
<!--                var filetype=fileTArr[fileTArr.length-1];-->
<!--                if (filetype != "xml" && filetype != "zip") {-->
<!--                    layer.alert("文件格式不对，请上传xml/zip文件!");-->
<!--                    return false;-->
<!--                }-->
<!--            }-->
<!--            return true;-->
<!--        });-->
<!--    })-->

<!--    // //验证的 格式的  函数-->
<!--    // function validateImg(file) {-->
<!--    //     var reg = /\.(xml|zip)$/ig;-->
<!--    //     var sizeMB = file.size / (1024 * 1024);-->
<!--    //     // 验证文件是否是xml|zip-->
<!--    //     if (!reg.test(file.name)) {-->
<!--    //         layer.alert('请选择xml/zip文件上传');-->
<!--    //         return false;-->
<!--    //     }-->
<!--    //-->
<!--    //     /* if (sizeMB > 10) {-->
<!--    //          layer.alert('请选择10M以下的图片');-->
<!--    //          return false;-->
<!--    //      }*/-->
<!--    //     return true;-->
<!--    // }-->

<!--    //上传导入的xml文件-->
<!--    function saveImport(){-->
<!--        var formData =new FormData(document.getElementById("form"));-->
<!--        $.post({-->
<!--            url: contextPath + "/saveImport",-->
<!--            type: "POST",-->
<!--            data :formData,-->
<!--            cache: false,-->
<!--            async: false,-->
<!--            contentType : false,//必须false才会自动加上正确的Content-Type-->
<!--            processData : false,//必须false才会避开jQuery对 formdata 的默认处理.XMLHttpRequest会对 formdata 进行正确的处理.-->
<!--            dataType: "json",-->
<!--            success: function (result) {-->
<!--                if (result.code == 200) {-->
<!--                    layer.alert(result.message, function (index) {-->
<!--                        layer.close(layer.index);-->
<!--                        $("#fileUpload").val("");-->
<!--                        parent.parent.$('.H105_iframeright').attr('src', contextPath + result.nextUrl);-->
<!--                    });-->

<!--                } else {-->
<!--                    layer.alert(result.message);-->
<!--                    return;-->
<!--                }-->
<!--            },-->
<!--            error: function () {-->
<!--                alert("error");-->
<!--                $('.src_iframeleft').attr('src', result.nextUrl);-->
<!--            }-->
<!--        })-->
<!--        return false;-->
<!--    }-->
<!--</script>-->
<!--</html>-->
