<!--
 * Author: wsp 
 * CreatDate: 2019-02-18
 *
 -->
<!DOCTYPE html>
<html id="html" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人像平台管理系统</title>
    <link rel="stylesheet" th:href="${application.basePath}+'/css/all.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/js/ztree/zTreeStyle/zTreeStyle.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/js/layui/css/layui.css'">
    <link rel="stylesheet" th:href="${application.basePath}+'/css/style.css'">
    <script th:src="${application.basePath}+'/js/jquery.min.js'"></script>
    <script th:src="${application.basePath}+'/js/verification.js'"></script>
    <script th:src="${application.basePath}+'/js/layui/layui.js'"></script>
    <script th:src="${application.basePath}+'/js/ztree/js/jquery.ztree.all.js'"></script>
    <script th:src="${application.basePath}+'/js/main.js'"></script>
    <script id="utilScript" th:src="${application.basePath}+'/js/util.js'" th:bashURL="${application.basePath}"></script>
    <script th:src="${application.basePath}+'/web/individualism/video/upload.js'"></script>
</head>
<body>
    <div>
      <form id="form" class="layui-form">
        <!--新增表单-->
        <div class="T106_detailsContent">
            <div class="T106_tableOuter">
                <table class="T106_table T206_table">
                    <tr>
                        <td class="T106_itemName T106_must">标题</td>
                        <td class="T106_itemValue">
                            <input class="layui-input" name="title" id="title" style="width: 550px;"/>
                        </td>
                        <td class="T106_itemValue" style="padding-left: 38px;">
                            <button type="button" class="layui-btn" id="testList">
                                选择文件
                            </button>
                        </td>
                        <td class="T106_itemValue">

                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="row">
                    <div class="layui-upload-list col-sm-12">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="demoList"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="testListAction1" hidden style="display:none">
                        确定
                    </button>
                </div>
            </div>
        </div>
        <div class="A106_buttonOuter">
            <div class="A106_button A106_button1" onclick="saveActivity()">开始上传</div>
            <div class="A106_button A106_button2" onclick="customer.cancel()">取消</div>
        </div>
      </form>
    </div>
</body>
</html>
<script>


</script>