<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:auth="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>人工智能阅卷</title>
    <link rel="stylesheet" th:href="${application.basePath}+ '/static/css/all.css'">
    <link rel="stylesheet" th:href="${application.basePath}+ '/static/css/style05.css'">
    <script th:src="${application.basePath}+'/static/js/jquery.min.js'"></script>
    <script th:src="${application.basePath}+'/static/js/main_All.js'"></script>
    <script th:src="${application.basePath}+'/static/js/main_05.js'"></script>
    <script th:src="${application.basePath}+'/static/js/layui/layui.js'"></script>
    <!--[if lt IE 9]>
    <script th:src="${application.basePath}+'/static/js/forIE8.js'"></script>
    <![endif]-->
    <script th:src="${application.basePath}+'/static/js/jquery.backgroundSize.js'"></script>

</head>
<body>
<div class="A105_wripper">
    <div class="A105_body  ">
        <iframe class="A105_catalogue  A105_catalogue_jq  fl " frameborder="0" th:src="'./rgznyj_left?ajbs='+${ajbs}+'&ajmc='+${ajmc}"></iframe>
        <iframe class="A105_pictureIframe  A105_pictureIframe_jq  fl " frameborder="0" th:src="'./rgznyj_right?ajbs='+${ajbs}+'&ajmc='+${ajmc}"></iframe>
    </div>


</div>
</body>
</html>